:root {
  --primary: #80471C;
  --primary-text: #9B7046;
  --secondary: #F1DEBC;
  --secondary-text: #80471C;
  --accent: #9B7046;
  --accent-text: #80471C;
}

.bgimg{
  width:100vw;
  height:100vh;
}
.bg{
  background-color: #80471C
}

.mintTitle{
  font-size: 40px; font-weight: 700; margin-top:12px; color: #FFDBAC; text-align: center;
}


a:link {
  text-decoration: none;
}

.screen{
  overflow: hidden;
}
.aboutimg{
  width:80%;
  height:60%;
  border-radius: 21px;
  margin-bottom: 21px;
}

.ElementDivHeaderLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ElementDivHeaderLinks{
  display: flex;
}
.ElementDivHeaderSocials{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .LinkButton{
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
  border:none;
  background: none;
  transition-duration: 0.3s;
}
.LinkButton:hover {
  color:#80471C;
}
.LinkButtonActive{
 color:#80471C;
}

.LinkHeader{
  display: flex;
  flex-direction: column;
  background-color:#492000;
  }
.headerLogo{
  width:302px;
  height:45px;
}

.headerSocialsTwitter{
  width:37.5px;
  height:37.5px;
}
.headerSocialsDiscord{
  width:30px;
  height:30px;
}
.TeamMemberScreen{
    padding: 21px;
    background-color: #48260D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.TeamMemberTitle{
  color: #F1DEBC;
  font-size: 45px;
  font-weight: bolder;
  margin-top:12px;
}
.TeamMemberContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9px;
}
.TeamMemberDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 9px;
}
.linkTeam{
  border-radius: 15px;
  width:210px;
  height:210px;
}
.TeamMemberProfile{
  display: flex;
  flex-direction: column;
}
.TeamMemberName{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top:12px;
  color: #80471C;
}
.TeamMemberPic{
  width:210px;
  height:210px;
  border-radius: 15px;
}
.TeamMemberDescription{
  margin-top:12px;
  border:6px #9B7046 solid;
  border-radius: 15px;
  padding: 60px;
  background-color: #F1DEBC;
  color: #4B2D08;
}
.AboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 9px;
  background-color: #48260D;
}
.AboutDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9px;
}
.AboutProfile{
  display: flex;
  flex-direction: column;
}
.AboutName{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-top:12px;
  color: #FFDBAC;
}
.AboutPic{
  border:6px #9B7046 solid;
  border-radius: 15px;
  margin-top: 30px;
  width:300px;
  height:300px;
}
.AboutDescription{
  margin-top:12px;
  padding: 60px;
  font-size: 27px;
  font-weight: 800px;
  color: #FFDBAC;
  width:400px;
}
.burger-nav{
  display: none;
}

@media (max-width: 1099px) {
  .particles-bg-canvas-self{
  top:375px !important;
  height:150% !important;
}
  .lol{
    position: absolute;
    top:54px;
    left:6px;
    display: flex;
    justify-content: flex-end;
  }
  .burger-nav{
    height:48px;
    width:48px;
    cursor:pointer;
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .ElementDivHeaderLinks{
    margin-top:54px;
    flex-direction: column;
    align-items: flex-start;
    height: 0px;
    overflow: hidden;
  }
  .LinkButton{
    margin-top: 15px;
    text-align: left;
    font-size: 21px;
    font-weight: bolder;
  }
  .open{
    height:auto;
  }
}
.RoadmapContainer{
  padding:21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #80471C;
}
.RoadmapTitle{
  color: #F1DEBC;
  font-size: 45px;
  font-weight: bolder;
  margin-top:12px;
}
.RoadmapDiv{
  margin:9px;
  padding: 12px;
  color: #4B2D08;
  width: 300px;
  height: 300px;
  border:6px #9B7046 solid;
  background-color: #F1DEBC;
  border-radius: 9px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.RoadmapDivTitle{
  font-size: 33px;
  color: #FFFFFF;
text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;

}
.RoadmapDivDescription{
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.RoadmapTopDiv{
}
.RoadmapBottomDiv{
}
@media (min-width: 600px) {
  .LinkButton{
  font-size: 21px !important;
  padding-left: 30px !important;
  }
}
@media (min-width: 900px) {
  .TeamMemberTitle{
    color: #F1DEBC;
    font-size: 60px;
    font-weight: bolder;
    margin-top:60px;
  }
  .linkTeam{
  transition: box-shadow 0.4s ease-in-out;
  outline:none;
}
.linkTeam:hover  { box-shadow:0 -2px 8px #FFF, 0 -4px 20px #ff0, 0 -20px 40px #ff8000, 0 -36px 80px #F00; }
  .TeamMemberContainer{
    flex-direction: row;
  }
  .LinkButton{
  font-size: 27px !important;
  padding-left: 30px !important;
  }
  .TeamMemberDiv{
    flex-direction: row;
  }
  .TeamMemberDescription{
    margin-left:30px;
    padding: 60px;
  }
}
@media (min-width: 1100px) {
  .mintTitle{
    font-size: 50px;
  }
  .LinkButton{
  font-size: 24px;
  padding-left: 30px ;
  }
  .LinkHeader{
    display:flex;
    flex-direction:row;
    min-height: 120px;
    justify-content: center;
    align-items: center;
  }
  .ElementDivHeaderLinks{
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .headerLogo{
    width:300px;
    height:60px;
  }
  .headerSocialsTwitter{
    width:75px;
    height:75px;
  }
  .headerSocialsDiscord{
    width:60px;
    height:60px;
  }
  .TeamMemberDiv{
    flex-direction: row;
  }
  .TeamMemberDescription{
    margin-left:30px;
    padding: 60px;
  }
  .RoadmapTitle{
    font-size: 50px;
    margin-bottom: 21px;
  }
  .RoadmapDiv{
    width: 300px;
    height: 300px;
  }
  .RoadmapTopDiv{
    display: flex;
    flex-direction: row;
  }
  .RoadmapBottomDiv{
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1500px) {
  .mintTitle{
    font-size: 60px;
  }
  .bgimg{
  }
  .LinkButton{
  font-size: 35px ;
  padding-left: 30px ;
  }
  .LinkHeader{
    flex-direction:row ;
  }
  .headerLogo{
    width:409px;
    height:60px;
  }
  .headerSocialsTwitter{
    width:75px;
    height:75px;
  }
  .headerSocialsDiscord{
    width:60px;
    height:60px;
  }
  .TeamMemberContainer{
  }
  .particles-bg-canvas-self{
    top:120px !important;
}
  .TeamMemberDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 9px;
  }
  .linkTeam{
    width:360px;
    height:360px;
  }
  .TeamMemberProfile{
    display: flex;
    flex-direction: column;
  }
  .TeamMemberName{
    font-size: 45px;
  }
  .TeamMemberPic{
    width:360px;
    height:360px;
  }
  .TeamMemberDescription{
    margin-left:30px;
    border:6px #9B7046 solid;
    border-radius: 15px;
    padding: 60px;
    background-color: #F1DEBC;
    color: #4B2D08;
  }
  .AboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    min-height: 900px;
  }
  .AboutDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:750px;

  }
  .AboutName{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-top:12px;
    color: #FFDBAC;
  }
  .AboutPic{
    border:6px #9B7046 solid;
    border-radius: 15px;
    margin-top: 30px;
    width:400px;
    height:400px;
  }
  .AboutDescription{
    margin-top:12px;
    padding: 60px;
    font-size: 30px;
    font-weight: 800px;
    color: #FFDBAC;
    width:555px;
  }
  .RoadmapContainer{
  }
  .RoadmapTitle{
    font-size: 60px;
    margin-bottom: 21px;
  }
  .RoadmapDiv{
    width: 400px;
    height: 360px;
  }
  .RoadmapDivTitle{
    font-size: 33px;

  }
  .RoadmapDivDescription{
    font-size: 21px;
  }
  .RoadmapTopDiv{
    display: flex;
    flex-direction: row;
  }
  .RoadmapBottomDiv{
    display: flex;
    flex-direction: row;
  }
}
